body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
}

#imageCarousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#imageCarousel img {
    width: 600px;
    height: 400px;
    display: none;
}

#imageCarousel img:first-child {
    display: block;
}

#previousButton,
#nextButton {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

#previousButton:hover,
#nextButton:hover {
    background-color: #8b0000;
}