<!DOCTYPE html>
<html lang="en">

<head>
    <title>¿Quiénes Somos? · KIA</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="about">¿Quiénes Somos?</a></li>
                <li><a href="#" id="company">La Empresa</a></li>
                <li><a href="#" id="vehicles">Vehículos</a></li>
                <li><a href="#" id="contact">Contáctenos</a></li>
                <li><a href="#" id="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <div id="imageCarousel">
        <img src="/vehicles/kia-rio.png" alt="KIA RIO">
        <img src="/vehicles/kia-sonet.png" alt="KIA SONET">
        <img src="/vehicles/kia-sportage.png" alt="KIA SPORTAGE">
    </div>

    <div id="buttonContainer">
        <button id="previousButton">Anterior</button>
        <button id="nextButton">Siguiente</button>
    </div>

    <section>
        <h1>¿Quiénes Somos?</h1>
        <p>Somos una empresa dedicada a la pasión por los automóviles y a brindar a nuestros clientes una experiencia excepcional en la industria automotriz. En TAIDOK MOTORS, hemos establecido un compromiso inquebrantable con la calidad, la innovación y la satisfacción del cliente.</p>
        <p>Nuestra historia se remonta a décadas de experiencia en la venta y servicio de vehículos. A lo largo de los años, hemos construido una reputación sólida como un nombre confiable en el mundo automotriz. Estamos comprometidos a seguir siendo líderes en este campo, manteniendo nuestros valores fundamentales de integridad y excelencia.</p>
        <p>En TAIDOK MOTORS, creemos que un automóvil es mucho más que un simple medio de transporte. Es una expresión de estilo, tecnología y comodidad. Por eso, ofrecemos una amplia gama de vehículos de alta calidad, diseñados para satisfacer las necesidades y gustos de nuestros clientes.</p>
        <p>Nuestro equipo está formado por apasionados amantes de los automóviles, expertos en ventas y técnicos altamente capacitados que están comprometidos a brindar un servicio excepcional. Nos enorgullece decir que, como empresa, siempre estamos buscando superar las expectativas de nuestros clientes.</p>
        <p>Ya sea que estés buscando un vehículo nuevo o necesites servicios de mantenimiento y reparación de calidad, en TAIDOK MOTORS estamos aquí para ayudarte. Descubre por qué miles de clientes confían en nosotros como su elección preferida en la industria automotriz.</p>
    </section>

    <footer>
        <p>&copy; 2023 KIA NICARAGUA - Desarrollado por Roberto David Morales Ramos</p>
    </footer>

    <script src="/script.js"></script>
    <script src="/carousel.js"></script>
</body>

</html>