<!DOCTYPE html>
<html lang="en">

<head>
    <title>Administrador · KIA</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js"></script>
</head>

<body>

    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="about">¿Quiénes Somos?</a></li>
                <li><a href="#" id="company">La Empresa</a></li>
                <li><a href="#" id="vehicles">Vehículos</a></li>
                <li><a href="#" id="contact">Contáctenos</a></li>
                <li><a href="#" id="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Login</h1>
            <form id="kia-form">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="button" onclick="checkCredentials()">Login</button>

                <div id="loginStatus" style="text-align: center;"></div>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2023 KIA NICARAGUA - Desarrollado por Roberto David Morales Ramos</p>
    </footer>

    <script src="/script.js"></script>

    <script src="/admin.js"></script>

</body>

</html>