<!DOCTYPE html>
<html lang="en">

<head>
    <title>La Empresa · KIA</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="about">¿Quiénes Somos?</a></li>
                <li><a href="#" id="company">La Empresa</a></li>
                <li><a href="#" id="vehicles">Vehículos</a></li>
                <li><a href="#" id="contact">Contáctenos</a></li>
                <li><a href="#" id="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <div id="imageCarousel">
        <img src="/vehicles/kia-rio.png" alt="KIA RIO">
        <img src="/vehicles/kia-sonet.png" alt="KIA SONET">
        <img src="/vehicles/kia-sportage.png" alt="KIA SPORTAGE">
    </div>

    <div id="buttonContainer">
        <button id="previousButton">Anterior</button>
        <button id="nextButton">Siguiente</button>
    </div>

    <section>
        <h1>La Empresa</h1>
        <p>Somos una empresa líder en la industria automotriz con una historia rica y un compromiso inquebrantable con la excelencia y la satisfacción del cliente.</p>
        <p>Con décadas de experiencia en la venta y servicio de vehículos, hemos forjado una sólida reputación como un nombre confiable en el mundo automotriz. Mantenemos nuestros valores fundamentales de integridad y excelencia, lo que nos ha permitido seguir siendo líderes en este campo.</p>
        <p>En TAIDOK MOTORS, creemos que un automóvil es más que un simple medio de transporte. Es una expresión de estilo, tecnología y comodidad. Por esta razón, ofrecemos una amplia gama de vehículos de alta calidad diseñados para satisfacer las necesidades y gustos de nuestros clientes.</p>
        <p>Nuestro equipo está formado por apasionados amantes de los automóviles, expertos en ventas y técnicos altamente capacitados. Están comprometidos a brindar un servicio excepcional y superar las expectativas de nuestros clientes en todo momento.</p>        
    </section>

    <footer>
        <p>&copy; 2023 KIA NICARAGUA - Desarrollado por Roberto David Morales Ramos</p>
    </footer>

    <script src="/script.js"></script>
    <script src="/carousel.js"></script>
</body>

</html>