<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contáctenos · KIA</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="about">¿Quiénes Somos?</a></li>
                <li><a href="#" id="company">La Empresa</a></li>
                <li><a href="#" id="vehicles">Vehículos</a></li>
                <li><a href="#" id="contact">Contáctenos</a></li>
                <li><a href="#" id="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Contáctenos</h1>
            <form id="contact-form">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" required></textarea>
                
                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
    
    <footer>
        <p>&copy; 2023 KIA NICARAGUA - Desarrollado por Roberto David Morales Ramos</p>
    </footer>

    <script src="/script.js"></script>

</body>

</html>