<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio · KIA</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">¿Quiénes Somos?</a></li>
                <li><a href="#">La Empresa</a></li>
                <li><a href="#">Vehículos</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a href="#">Administrador</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>