<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicio · KIA</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="about">¿Quiénes Somos?</a></li>
                <li><a href="#" id="company">La Empresa</a></li>
                <li><a href="#" id="vehicles">Vehículos</a></li>
                <li><a href="#" id="contact">Contáctenos</a></li>
                <li><a href="#" id="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <div id="imageCarousel">
        <img src="kia-rio.png" alt="KIA RIO">
        <img src="kia-seltos.png" alt="KIA SELTOS">
        <img src="kia-sonet.png" alt="KIA SONET">
        <img src="kia-sportage.png" alt="KIA SPORTAGE">
    </div>
    <button id="previousButton">Anterior</button>
    <button id="nextButton">Siguiente</button>
    <script src="script.js"></script>
</body>

</html>