<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vehículos · KIA</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">TAIDOK MOTORS</div>
            <ul class="navbar">
                <li><a href="#" id="index">Inicio</a></li>
                <li><a href="#" id="about">¿Quiénes Somos?</a></li>
                <li><a href="#" id="company">La Empresa</a></li>
                <li><a href="#" id="vehicles">Vehículos</a></li>
                <li><a href="#" id="contact">Contáctenos</a></li>
                <li><a href="#" id="admin">Administrador</a></li>
            </ul>
        </nav>
    </header>

    <div id="imageCarousel">
        <img src="/vehicles/kia-rio.png" alt="KIA RIO">
        <img src="/vehicles/kia-sonet.png" alt="KIA SONET">
        <img src="/vehicles/kia-sportage.png" alt="KIA SPORTAGE">
    </div>

    <div id="buttonContainer">
        <button id="previousButton">Anterior</button>
        <button id="nextButton">Siguiente</button>
    </div>

    <div class="car-item">
        <img src="/vehicles/kia-picanto.png" alt="KIA PICANTO">
        <h2>KIA PICANTO</h2>
        <p>Desde: C$ 568,962</p>
        <p>Cuota Bancaria: $ 238</p>
    </div>

    <div class="car-item">
        <img src="/vehicles/kia-seltos.png" alt="KIA SELTOS">
        <h2>KIA SELTOS</h2>
        <p>Desde: C$ 987,640</p>
        <p>Cuota Bancaria: $ 478</p>
    </div>

    <div class="car-item">
        <img src="/vehicles/kia-carens.png" alt="KIA CARENS">
        <h2>KIA CARENS</h2>
        <p>Desde: C$ 930,033</p>
        <p>Cuota Bancaria: $ 388</p>
    </div>

    <div class="car-item">
        <img src="/vehicles/kia-sorento.png" alt="KIA SORENTO">
        <h2>KIA SORENTO</h2>
        <p>Desde: C$ 1,659,471</p>
        <p>Cuota Bancaria: $ 693</p>
    </div>

    <div class="car-item">
        <img src="/vehicles/kia-k2700.png" alt="KIA K2700">
        <h2>KIA K2700</h2>
        <p>Desde: C$ 692,966</p>
        <p>Cuota Bancaria: $ 289</p>
    </div>

    <div class="car-item">
        <img src="/vehicles/kia-k3000.png" alt="KIA K3000">
        <h2>KIA K3000</h2>
        <p>Desde: C$ 758,616</p>
        <p>Cuota Bancaria: $ 317</p>
    </div>

    <footer>
        <p>&copy; 2023 KIA NICARAGUA - Desarrollado por Roberto David Morales Ramos</p>
    </footer>

    <script src="/script.js"></script>

</body>

</html>